# Build artifacts
*.iml
.gradle/
/build/
/*/build/
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ
.idea/
*.ipr
*.iws
/out/

# Keystores & Secrets
*.jks
*.keystore
*.p12
*.pkcs12
google-services.json

# Local configuration
local.properties

# Log files
*.log

# OS specific
.DS_Store
Thumbs.db
